/* Estilos para la tabla en InfoCompra */
.info-compra-container {
  margin: 20px auto; /* Centrar la tabla horizontalmente y agregar margen superior */
  max-width: 95%; /* Ancho máximo de la tabla */
  border-radius: 5px; /* Borde redondeado */
  overflow: auto; /* Agregar barra de desplazamiento si es necesario */
  background-color: #fffb; /* Color de fondo */
  padding: 10px; /* Espacio interno */
}

/* Estilos para las celdas en la tabla */
.product-table th,
.product-table td {
  padding: 10px; /* Espacio interno en las celdas */
  text-align: center; /* Centrar el contenido de las celdas */
  border: 1px solid #ddd; /* Borde de celdas */
}

/* Estilos para las filas pares */
.product-table tbody tr:nth-child(even) {
  background-color: #f2f2f2; /* Color de fondo para filas pares */
}

/* Estilos al pasar el mouse sobre las filas */
.product-table tbody tr:hover {
  background-color: #fff6 !important; /* Cambia el color de fondo al pasar el mouse */
}

/* Estilos para el botón de eliminar */
.product-table tbody td .delete-button {
  border-radius: 15px;
}
.product-table tbody td .delete-button img {
  border-radius: 10px;
  width: 40px;
  align-items: center;
  display: flex;
  justify-content: center;
  padding-left: 10px;
}
.product-table tbody td .delete-button img:hover {
  display: none;
  
}

/* Estilos para el botón de comprar */
.product-table .buy-button {
  background-color: #6fcaea; /* Color de fondo para el botón */
  color: #000; /* Color de texto para el botón */
  border: none; /* Elimina el borde del botón */
  padding: 5px 10px; /* Espacio interno del botón */
  border-radius: 5px; /* Borde redondeado para el botón */
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; /* Transición suave de colores */
}

/* Estilos al pasar el mouse sobre el botón de comprar */
.product-table .buy-button:hover {
  background-color: #006b21; /* Cambia el color de fondo al pasar el mouse */
  color: #fff; /* Cambia el color de texto al pasar el mouse */
}
