.counter .controls{
    display: flex;
    justify-content: center;
    margin: 10px;
}

.counter .controls .btn {
    display: flex;
    justify-content: center;
    align-items: center; /* Agregar esta línea para centrar verticalmente */
    border: solid 1px black;
    background-color: white;
    color: black;
    width: 50px;
    height: 50px;
    
}
.counter .controls .btn:hover:nth-child(2) {
    color: green;
}
.counter .controls .btn:hover:first-child {
    color: red;
}
.counter .controls .btn:first-child {
    margin-right: 10px;
}

.quantity{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Agrega estilo al botón "Agregar al carrito" sin cambiar su color */
.btnConfirmar {
    background-color: #3498db; /* Fondo transparente */
    color: #3498db; /* Color de texto original */
    border: 1px solid #3498db; /* Borde con el color original */
    border-radius: 5px;
    padding: 10px 20px; /* Espacio interno del botón */
    cursor: pointer;
    font-weight: bold; /* Negrita */
    transition: background-color 0.3s, color 0.3s; /* Transición suave de colores */
  }
  
  .btnConfirmar:hover {
    background-color: #d25422; /* Cambia el color de fondo al pasar el mouse */
    color: #fff; /* Cambia el color de texto al pasar el mouse */
  }
  