/* Estilos para el botón de eliminar */
.delete-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    display: flex;
    align-items: center;
    margin-left: 30%;
  }

  .delete-button img {
    width: 24px;
    height: 24px; 
    margin: 0;
    padding: 0;
    border: none;
  }
  